
<div class="arrow-container container" style = "padding:10px;">
    <div class="row">
        <div class="col">
            <a id="prevarrow" href="#" onclick="prevdate()" class="previous round arrow">&#8249;</a>
        </div>
        <div class="col" style = "padding:20px;">
            <h4 id="datespan">Today</h4>
        </div>
        <div class="col">
            <a id="nextarrow" href="#" onclick="nextdate()" class="next round arrow">&#8250;</a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/arrows.css">
