
<div class="arrow-container container">
    <a id="prevarrow" href="#" onclick="prevdate()" class="previous round arrow">&#8249;</a>
    <span id="datespan">Today</span>
    <a id="nextarrow" href="#" onclick="nextdate()" class="next round arrow">&#8250;</a>

</div>

<link rel="stylesheet" href="/css/arrows.css">

