<form id="cardioform" action="/cardio" method="post" enctype='application/x-www-form-urlencoded'style = "padding-top:10px">
    <div class="form-row">
        <div class="form-group col-12">
            <label for="cardioname">Cardio Name</label>
            <input type="text" name="name" id="cardioname" class="form-control" placeholder="cardio Name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="distance">Distance (mi)</label>
            <input type="number" name="distance" id="distance" class="form-control" placeholder="Distance">
        </div>
        <div class="form-group col-md-4">
            <label for="duration">Duration</label>
            <input type="time" name="duration" id="duration" class="form-control" placeholder="Duration">
        </div>

        <div class="form-group col-md-4">
            <label for="time">Time</label>
            <input type="time" name="time" id="cardiotime" class="form-control" placeholder="Time">
        </div>
    </div>
    <button type="submit" cclass = "btn btn-outline-light my-2 my-sm-0" style = "background-color:black; color: white; border: white; padding: 10px; float:right;">Add</button>
</form>

<script>
    $(function () {
        $('#cardioform').on('submit', function (e) {
            e.preventDefault()
            var formdata = $('#cardioform').serializeArray()
            console.log(formdata)
            formdata.push({ name: "email", value: localStorage.getItem("email") })
            formdata.push({ name: "date", value: localStorage.getItem("date") })
            $.ajax({
                type: 'post',
                url: '/cardio',
                data: formdata,
                success: function () {
                    alert("cardio submitted")
                }
            })
            $(':input', '#cardioform')
                .not(':button, :submit, :reset, :hidden')
                .val('')
            console.log(formdata)
            var cardiolist = document.getElementById('cardiolist')
            var tr = document.createElement('tr');
            var ta = document.createElement('td');
            ta.appendChild(document.createTextNode(formdata[3].value));
            tr.appendChild(ta);
            var tb = document.createElement('td');
            tb.appendChild(document.createTextNode(formdata[0].value));
            tr.appendChild(tb);
            var tc = document.createElement('td');
            tc.appendChild(document.createTextNode(formdata[2].value));
            tr.appendChild(tc);
            var td = document.createElement('td');
            td.appendChild(document.createTextNode(formdata[1].value));
            tr.appendChild(td);
            cardiolist.appendChild(tr);

        })
    })

</script>
