<nav class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">

    <a class="nav-item nav-link active" id="pills-food-tab" data-toggle="pill" href="#pills-food" role="tab"
        aria-controls="pills-food" aria-selected="true">Food</a>


    <a class="nav-item nav-link" id="pills-cardio-tab" data-toggle="pill" href="#pills-cardio" role="tab"
        aria-controls="pills-cardio" aria-selected="false">Cardio</a>


    <a class="nav-item nav-link" id="pills-strength-tab" data-toggle="pill" href="#pills-strength" role="tab"
        aria-controls="pills-strength" aria-selected="false">Strength</a>

</nav>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-food" role="tabpanel" aria-labelledby="pills-food-tab">
        <% include ../partials/foodform %>
    </div>
    <div class="tab-pane fade" id="pills-cardio" role="tabpanel" aria-labelledby="pills-cardio-tab">
        <% include ../partials/cardioform %>
    </div>
    <div class="tab-pane fade" id="pills-strength" role="tabpanel" aria-labelledby="pills-strength-tab">
        <% include ../partials/strengthform %>
    </div>
</div>
