<nav class="navbar  navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand " href="#">Fitness Friend</a>
    <div class="navbar-right" id="navbarSupportedContent" style="">
        <form id="signoutform" action="/signout" method="post" enctype='application/x-www-form-urlencoded'
            class="form-inline my-2 my-lg-0 navbar-collapse " style="padding:5px">
           
            <button id="submitBtn" class="btn btn-outline-light my-2 my-sm-0 " type="submit">Sign Out</button>
        </form>
    </div>
</nav>