<div class="row">
    <div class="col-6">
        <h2>Cardio Exercises</h2>
        <ul class="list-group" id="cardiolist"></ul>

    </div>
    <div class="col-6">
        <h2>Strength Exercises</h2>
        <ul class="list-group" id="strengthlist"></ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>food log</h2>
        <ul class="list-group" id="foodlist"></ul>
    </div>
</div>