<div class = "row">
  <h2>Cardio Exercises</h2>
    <table class = "table">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Name</th>
          <th scope="col">Duration</th>
          <th scope="col">Distance</th>
        </tr>
      </thead>
      <tbody id="cardiolist"></tbody>
    </table>
</div>

<div class = "row" >
  <h2>Strength Exercises</h2>
    <table class = "table">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Name</th>
          <th scope="col">Weight</th>
          <th scope="col">Sets</th>
          <th scope="col">Reps</th>
        </tr>
      </thead>
      <tbody id="strengthlist"></tbody>
    </table>
</div>

<div class = "row">
  <h2>Food Log</h2>
    <table class = "table">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Name</th>
          <th scope="col">Calories</th>
          <th scope="col">Protein</th>
          <th scope="col">Carbs</th>
          <th scope="col">Fats</th>
        </tr>
      </thead>
      <tbody id="foodlist"></tbody>
    </table>
  </div>
