<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" >
    <a class="navbar-brand " href="#">Fitness Friend</a>
  
    <div class="navbar-right" id="navbarSupportedContent" style = "">
        <form  id="loginform" action="/login" method="post"  enctype='application/x-www-form-urlencoded' class="form-inline my-2 my-lg-0 navbar-collapse " style = "padding:5px">
            <input id="email" class="aform-control mr-sm-4" type="text" name="email" placeholder="username" aria-label="username">
            <input class="aform-control mr-sm-4" type="password" name="password" placeholder="password" aria-label="password">
            <button id="submitBtn" class="btn btn-outline-light my-2 my-sm-0 " type="submit">Login</button>
        </form>
    </div>
</nav>

<script>
  $("#submitBtn").click(function () {
        var email = $("#email").val();
        console.log("here")
        console.log(email)
        localStorage.setItem("email", email);
    });

</script>
