<div class="row text-center" >
  <div class ="col">
      <h2>Progress</h2>
  </div>
</div>
<div class="chart-container" style = "padding:10px;">
    <canvas id="progresscanvas"></canvas>
</div>

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(231,233,237)'
    };
    var pconfig = {
        type: 'line',
        data: {
            labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
            datasets: [{
                label: "Weight Overtime",
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [207, 200, 200, 201, 180, 211, 180],
                fill: false,
            }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Lbs'
                    }
                }]
            }
        }
    };

    function getallweights(){
        $.ajax({
            url: "/weights",
            type: 'post',
            data: {
                date: localStorage.getItem('date'),
                email: localStorage.getItem('email')
            },
            success: (res) => {
                console.log(res)
                pconfig.data.datasets[0].data = res.values
                pconfig.data.labels = res.labels
                pconfig.data.datasets[0].label = 'Weight Overtime'
                pconfig.options.scales.yAxes[0].scaleLabel.labelString = 'weight (Lbs)'
                window.progressGraph.update()

            }
        })
    }

    document.getElementById('pills-progress-tab').addEventListener('click', function () {
       getallweights()

    });

    window.onload = function () {

        var ctx = document.getElementById("canvas").getContext("2d");
        var ctx1 = document.getElementById("progresscanvas").getContext("2d");
        window.progressGraph = new Chart(ctx1, pconfig);
        window.weeklyGraph = new Chart(ctx, config);
        document.getElementById('weekly-pills-calories-tab').click()
    };
</script>

<link rel="stylesheet" href="/css/chart.css">
