<div style = "padding: 30px">
    <h2>Fitness Friend</h2>
    <p> Welcome to Fitness Friend, your one stop shop for fitness tracking!
        With this application, you can easily track essentials such as food,
        excercises, water consumption, and weight. Fitness Friend's sleek
        interface will allow you input and track data effortlessly, with
        minimal memorization and clicking. You won't ever need another Fitness
        pal again!</p>
</div>
