<div class="arrow-container container">
    <div class="row">
        <div class="col">
            <a id="prevwarrow" href="#" onclick="prevweek()" class="previous round arrow">&#8249;</a>
        </div>
        <div class="col">
            <h4 id="weekspan">This Week</h4>
        </div>
        <div class="col">
            <a id="nextwarrow" href="#" onclick="nextweek()" class="next round arrow">&#8250;</a>
        </div>
    </div>

</div>

<link rel="stylesheet" href="/css/arrows.css">