<nav class="nav nav-pills nav-fill mb-3" id="weekly-pills-tab" role="tablist">

    <a class="nav-item nav-link active" id="weekly-pills-calories-tab" data-toggle="pill" href="#" role="tab"
        aria-controls="pills-calories" aria-selected="true">Calories</a>

    <a class="nav-item nav-link" id="weekly-pills-cardio-tab" data-toggle="pill" href="#" role="tab"
        aria-controls="pills-cardio" aria-selected="false">Cardio Time</a>

    <a class="nav-item nav-link" id="weekly-dist-cardio-tab" data-toggle="pill" href="#" role="tab"
        aria-controls="pills-cardio" aria-selected="false">Cardio Distance</a>

    <a class="nav-item nav-link" id="weekly-pills-strength-tab" data-toggle="pill" href="#" role="tab"
        aria-controls="pills-strength" aria-selected="false">Strength</a>

</nav>
<div class="chart-container">
    <canvas id="canvas"></canvas>
</div>

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(231,233,237)'
    };

    window.randomScalingFactor = function () {
        return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
    }



    var config = {
        type: 'bar',
        data: {
            labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
            datasets: [{
                label: "Weekly Calories",
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [2000, 2000, 2010, 2021, 1820, 2911, 1820],
                fill: false,
            }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Calories'
                    }
                }]
            }
        }
    };

    document.getElementById('weekly-pills-calories-tab').addEventListener('click', function () {
        $.ajax({
            url: "/weeklycalories",
            type: 'post',
            data: {
                date: localStorage.getItem('date'),
                email: localStorage.getItem('email')
            },
            success: (res) => {
                config.data.datasets[0].data = res.values
                config.data.labels = res.labels
                config.data.datasets[0].label = 'Weekly Calories'
                config.options.scales.yAxes[0].scaleLabel.labelString = 'Calories'
                window.weeklyGraph.update();
            }
        })

    });
    document.getElementById('weekly-pills-cardio-tab').addEventListener('click', function () {
        $.ajax({
            url: "/weeklycardio",
            type: 'post',
            data: {
                date: localStorage.getItem('date'),
                email: localStorage.getItem('email')
            },
            success: (res) => {
                config.data.datasets[0].data = res.values
                config.data.labels = res.labels
                config.data.datasets[0].label = 'Weekly Cardio Time'
                config.options.scales.yAxes[0].scaleLabel.labelString = 'Duration (min)'
                window.weeklyGraph.update();
            }
        })

    });

    document.getElementById('weekly-dist-cardio-tab').addEventListener('click', function () {
        $.ajax({
            url: "/weeklycardiodistance",
            type: 'post',
            data: {
                date: localStorage.getItem('date'),
                email: localStorage.getItem('email')
            },
            success: (res) => {
                config.data.datasets[0].data = res.values
                config.data.labels = res.labels
                config.data.datasets[0].label = 'Weekly Cardio Dist'
                config.options.scales.yAxes[0].scaleLabel.labelString = 'Distance (mi)'
                window.weeklyGraph.update();
            }
        })

    });

    document.getElementById('weekly-pills-strength-tab').addEventListener('click', function () {
        $.ajax({
            url: "/weeklystrength",
            type: 'post',
            data: {
                date: localStorage.getItem('date'),
                email: localStorage.getItem('email')
            },
            success: (res) => {
                config.data.datasets[0].data = res.values
                config.data.labels = res.labels
                config.data.datasets[0].label = 'Weekly Strength Exercises'
                config.options.scales.yAxes[0].scaleLabel.labelString = "Strength Exercises"
                window.weeklyGraph.update();
            }
        })

    });

    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.weeklyGraph = getNewChart(ctx, config);
        document.getElementById('weekly-pills-calories-tab').click()
    };

    function getNewChart(canvas, config) {
        return new Chart(canvas, config);
    }



</script>
<link rel="stylesheet" href="/css/weekly.css">
<link rel="stylesheet" href="/css/chart.css">