<div class="arrow-container container">
    <a id="prevwarrow" href="#" onclick="prevweek()" class="previous round arrow">&#8249;</a>
    <span id="weekspan">This Week</span>
    <a id="nextwarrow" href="#" onclick="nextweek()" class="next round arrow">&#8250;</a>

</div>

<link rel="stylesheet" href="/css/arrows.css">