<!doctype html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/navbar %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>This is the homepage</h2>
            </div>
            <div class="col-md-6">
                <h2>This is the homepage</h2>
            </div>
        </div>
        <div class="row">
            <% include ../partials/foodform %>
        </div>
        <div class="row">
            <% include ../partials/cardioform %>
        </div>
        <div class="row">
            <% include ../partials/strengthform %>
        </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>