<!doctype html>
<html lang="en">
    <% include ../partials/head %>

<body style = "background-color: rgba(50, 115, 220, 0.1);">
    <% include ../partials/navbar %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <% include ../partials/summary%>
            </div>
            <div class="col-md-6">
                <% include ../partials/signupform%>
            </div>
        </div>
    </div>


    <% include ../partials/footer %>

</body>

</html>
